.row-fluid
  .span12
    = link_to 'New Report', new_report_url, :class => 'btn btn-primary'

    %br
    %br

    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th ID
          %th Name
      %tbody
        - @reports.each do |report|
          %tr
            %td= report.id
            %td= link_to report.to_s, report_url(report)

